<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.islamiat.blackwallpapers">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.islamiat.blackwallpapers.helper.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.islamiat.wallpapersmecca" />
        <meta-data
            android:name="DATABASE"
            android:value="wallpapers.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.file.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource"/>
        </provider>

        <activity
            android:name="com.islamiat.blackwallpapers.activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.islamiat.blackwallpapers.activity.PhotoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.islamiat.blackwallpapers.activity.WallpaperActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.islamiat.blackwallpapers.activity.TagsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.islamiat.blackwallpapers.activity.SearchActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.islamiat.blackwallpapers.activity.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.islamiat.blackwallpapers.activity.WebViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.islamiat.blackwallpapers.activity.OSLicenseActivity" />
    </application>

</manifest>